#container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: black;
} 
.box{
    max-width: 330px;
    padding-bottom: 20px;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 20px 0;
    display: flex;       
}
.img{
    max-width: 100%;  
} 
p{
    color: white;
}
h2{
    color: white;
}
.botao{
    background-color: rgb(21, 175, 139);
    display: flex;
    justify-content: center;
    border-radius: 75px;
    color: blue;
    padding: 10px;
    text-decoration: none;
}
.botao:hover{
    color: red;
    background-color: rgb(226, 208, 43);
}
.box:hover{
    background-color: rgb(11, 173, 73);
}

@media screen  and (max-width:1024px) {
    #container{
        flex-direction: column;
        max-width: 100%;
    }
    .box{
        max-width: 100%;
        text-align: center;
    }
}   
