.container{
    max-width: 1024px;
    margin: 0 auto;
    display: flex; 
   
}

.black{
    width: 400px;
    height: 400px;
    background-color: black;
    padding: 30px;
    margin: 30px;
    flex-direction: row;
   
}

.black p{
    color: white;
    align-items: baseline;
}
.white{
        width: 400px;
        height: 400px;
        border: 1px solid #000;
        padding: 30px;
        margin: 30px;
        flex-direction: row;
      
}
.white p{
    color: #333;
    align-items: baseline;
}

/*configuração menor que 1024 d largura*/
@media screen  and (max-width:1024px) {
    .container {
        flex-direction: column; /* direção dos  conteudos do display*/
    }
}    